.notifi-box {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 400px;
    position: absolute;
    overflow-y: auto;
    top: 70px;
    right: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    z-index: 1111111111;
    }